// COLOURS
$purple-1: #474c8b;
$purple-2: #252c86;

$white: #ffffff;
$black: #000000;

$red-1: #f12e2e;

$yellow-1: #ebb91f;
$yellow-2: #FFDC72;

// FONTS
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-24: 24px;
