// COLOURS
$green-1: #17AB71;
$green-2: #51A351;
$green-3: #93FF96;

$blue-1: #313E4F;

$white: #ffffff;
$black: #000000;

$red-1: #f12e2e;

// FONTS
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-24: 24px;
$font-30: 30px;
$font-120: 120px;
