<form class="form" [formGroup]="form" (submit)="loginUser(form)">
  <h2 class="form__header">
    {{ 'LOGIN_FORM' | translate }}
  </h2>
  <app-input [type]="'text'"
             [placeholder]="'Username'"
             [name]="'login'"
             [control]="form.get('login')">
  </app-input>
  <app-input [type]="'password'"
             [placeholder]="'Password'"
             [name]="'password'"
             [control]="form.get('password')">
  </app-input>
  <app-button [text]="'SIGN_IN' | translate"
              [disabled]="form.invalid"
              [type]="'submit'">
  </app-button>
</form>
